@font-face {
  font-family: 'votorantim_sansregular';
  src: url('../fonts/VotorantimSans-Regular.eot');
  src: url('../fonts/VotorantimSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/VotorantimSans-Regular.woff2') format('woff2'), url('../fonts/VotorantimSans-Regular.woff') format('woff'), url('../fonts/VotorantimSans-Regular.ttf') format('truetype'), url('../fonts/VotorantimSans-Regular.svg#votorantim_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'votorantim_sansmedium';
  src: url('../fonts/VotorantimSans-Medium.eot');
  src: url('../fonts/VotorantimSans-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/VotorantimSans-Medium.woff2') format('woff2'), url('../fonts/VotorantimSans-Medium.woff') format('woff'), url('../fonts/VotorantimSans-Medium.ttf') format('truetype'), url('../fonts/VotorantimSans-Medium.svg#votorantim_sansmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'votorantim_sanslight';
  src: url('../fonts/VotorantimSans-Light.eot');
  src: url('../fonts/VotorantimSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/VotorantimSans-Light.woff2') format('woff2'), url('../fonts/VotorantimSans-Light.woff') format('woff'), url('../fonts/VotorantimSans-Light.ttf') format('truetype'), url('../fonts/VotorantimSans-Light.svg#votorantim_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'votorantim_sansbold';
  src: url('../fonts/VotorantimSans-Bold.eot');
  src: url('../fonts/VotorantimSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/VotorantimSans-Bold.woff2') format('woff2'), url('../fonts/VotorantimSans-Bold.woff') format('woff'), url('../fonts/VotorantimSans-Bold.ttf') format('truetype'), url('../fonts/VotorantimSans-Bold.svg#votorantim_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* VARIABLES */

:root {
  --color-attention: #F3AA47;
  --color-background: #E5E5E5;
  --color-background-card: rgba(0, 0, 191, 0.03);
  --color-background-modal: rgba(0, 0, 0, 0.75);
  --color-black: #424242;
  --color-blue: #0C46E6;
  --color-blue-bic: #0000BF;
  --color-blue-sky: #06E3FF;
  --color-cloudy: #F5F5F5;
  --color-gray: #9E9E9E;
  --color-gray-light: #D7D7DD;
  --color-green-hyper: #B4DC32;
  --color-negative: #DE5E57;
  --color-orange: #ff7e00;
  --color-orange-light: #F3AA47;
  --color-positive: #7BB873;
  --color-shadow: rgba(0, 0, 0, 0.15);
  --color-white: #FFFFFF;
}

.text_verde {
  color: var(--color-positive) !important;
}

.text_verde_claro {
  color: var(--color-green-hyper) !important;
}

.text_amarelo {
  color: var(--color-attention) !important;
}

.text_laranja {
  color: var(--color-orange) !important;
}

.text_vermelho {
  color: var(--color-negative) !important;
}

.bg_verde {
  background-color: var(--color-positive);
}

.bg_verde_claro {
  background-color: var(--color-green-hyper);
}

.bg_amarelo {
  background-color: var(--color-attention);
}

.bg_laranja {
  background-color: var(--color-orange);
}

.bg_vermelho {
  background-color: var(--color-negative);
}

/*** RESET ***/

.tooltip {
  background: var(--color-white);
  border: 0px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px var(--color-shadow);
  color: var(--color-blue);
  padding: 8px;
  position: absolute;
  pointer-events: none;
}

body {
  background: none;
  color: var(--color-black);
  counter-reset: my-counter;
  font-family: 'votorantim_sansregular' !important;
  font-size: 15px;
  letter-spacing: 0.16px;
  padding: 0 32px;
  line-height: 24px;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 1024px) {
  body {
    padding: 0;
  }
}

.paddingX {
  padding-left: 56px;
  padding-right: 56px;
}

@media only screen and (max-width: 1024px) {
  .paddingX {
    padding-left: 24px;
    padding-right: 24px;
  }
}

a:hover {
  text-decoration: none;
}

/* Verificar */

@media only screen and (max-width: 1024px) {
  .mobile {
    display: block;
  }
  .laptop {
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  .mobile {
    display: none;
  }
  .laptop {
    display: block;
  }
}

/*** HEADER ***/

header {
  align-items: center;
  background-color: var(--color-blue-bic);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 36px 56px;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  header {
    padding: 36px 24px;
  }
}

header #voltar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header #voltar span {
  color: var(--color-white);
  font-family: 'votorantim_sanslight';
  font-size: 15px;
}

@media only screen and (max-width: 1024px) {
  header #voltar span {
    display: none;
  }
}

/*** FOOTER ***/

footer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

footer small {
  padding: 10px 25px;
  text-align: justify;
}

footer>div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 60px 32px;
  width: 100%;
}

footer>div:not(:first-child) {
  border-top: 1px solid var(--color-black);
}

footer>div span {
  font-family: 'votorantim_sansbold';
  font-size: 20px;
  margin: 0 auto 20px;
  width: 70%;
}

@media only screen and (max-width: 1024px) {
  footer>div span {
    width: 100%;
  }
}

footer>div .logos {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  width: 70%;
}

@media only screen and (max-width: 1024px) {
  footer>div .logos {
    width: 100%;
  }
}

footer>div .logos.l2 {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 1024px) {
  footer>div .logos.l2 {
    flex-direction: column;
  }
}

footer>div .logos.l2>div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

@media only screen and (max-width: 1024px) {
  footer>div .logos.l2>div {
    width: 100%;
  }
}

footer>div .logos.l2>div span {
  font-family: 'votorantim_sansregular';
  font-size: 16px;
  margin: 0 auto 12px;
  text-align: center;
}

footer>div .logos img {
  width: 135px;
}

footer>div .logos img.w80 {
  width: 80px;
}

footer>div .logos img.w100 {
  width: 100px;
}

footer>div .logos img.w250 {
  width: 250px;
}

/*** TITLE ***/

.title {
  align-items: center;
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  font-size: 34px;
  line-height: 40px;
  margin: 0 0 60px;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .title {
    margin: 0 0 45px;
  }
}

.title:before {
  background-color: var(--color-attention);
  bottom: -21px;
  content: '';
  display: block;
  height: 6px;
  left: -88px;
  position: absolute;
  width: 150px;
}

/*** HOME SCREEN ***/

#home-screen {
  background-color: var(--color-blue-bic);
}

@media only screen and (max-width: 1024px) {
  #home-screen {
    overflow: hidden;
  }
}

.home-text-content {
  display: block;
  position: relative;
  width: 100%;
}

.home-text-content .stripes {
  display: block;
  height: 456px;
  position: absolute;
  top: -32px;
  right: -56px;
  width: 70px;
  z-index: 2;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media only screen and (max-width: 1024px) {
  .home-text-content .stripes {
    height: 228px;
    top: 0px;
    right: -40px;
    width: 35px;
  }
}

.home-text-content .home-text {
  display: block;
  width: 65%;
}

@media only screen and (max-width: 1024px) {
  .home-text-content .home-text {
    width: 100%;
  }
}

.home-text-content .home-text p {
  color: var(--color-white);
  display: block;
  margin: 0 0 20px;
  text-align: justify;
}

.home-button-content {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  margin: 90px 0 0;
  width: 90%;
}

@media only screen and (max-width: 1024px) {
  .home-button-content {
    grid-template-columns: 1fr;
    margin: 30px 0 0;
    width: 100%;
  }
}

.home-button {
  align-items: flex-end;
  background-color: var(--color-blue);
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: 'votorantim_sansbold';
  font-size: 18px;
  border-radius: 18px;
  box-shadow: 0px 8px 16px var(--color-shadow);
  height: 190px;
  justify-content: flex-end;
  line-height: 20px;
  padding: 24px;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  transform: scale(0.85);
  text-align: center;
}

.home-button:hover {
  background-color: rgba(12, 70, 230, 0.3);
  color: var(--color-attention);
}

@media only screen and (max-width: 1024px) {
  .home-button {
    align-items: center;
    font-size: 16px;
    height: auto;
    line-height: 22px;
    width: 100%;
  }
}

.home-button span {
  position: relative;
  z-index: 2;
}

.home-button img {
  display: block;
  position: absolute;
  right: 5px;
  top: -60px;
  z-index: 1;
}

.home-button.go-estrutura-ivm img {
  width: 125px;
}

.home-button.go-state img {
  width: 175px;
}

.home-button.go-heat-map img {
  width: 150px;
}

@media only screen and (max-width: 1024px) {
  .home-button img {
    position: static;
    margin: 0 auto 20px
  }
}

.home-button-content .mountain {
  align-content: center;
  grid-column: span 3;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 1024px) {
  .home-button-content .mountain {
    grid-column: 1;
  }
}

.home-button-content .mountain img {
  display: block;
  margin-bottom: -1px;
}

.choice-municipality {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .choice-municipality {
    display: block;
  }
}

/*** MAPA ***/

.search-content .map {
  display: block;
  height: 460px;
  position: absolute;
  right: -250px;
  top: -175px;
  width: 520px;
}

@media only screen and (max-width: 1024px) {
  .search-content .map {
    pointer-events: none;
  }
}

.svg__mapa a {
  text-decoration: none
}

.svg__mapa a:hover {
  cursor: pointer;
  text-decoration: none
}

.svg__mapa a:hover path {
  fill: var(--color-attention) !important;
}

.st1 {
  fill: var(--color-blue);
  stroke: var(--color-white);
  stroke-width: 3;
}

.st2 {
  fill: var(--color-blue);
  stroke: var(--color-white);
  stroke-width: 0;
}

@media only screen and (max-width: 1024px) {
  .search-content .map {
    height: auto;
    margin: 40px 0 0;
    position: static;
    right: auto;
    top: auto;
    width: 100%;
  }
}

/*** STATE SCREEN ***/

#state {
  background-color: var(--color-blue-bic);
  padding-bottom: 130px;
}

@media only screen and (max-width: 1024px) {
  #state {
    overflow: hidden;
  }
}

.state-content {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 40px;
  position: relative;
}

.state-content h5 {
  color: var(--color-white);
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .state-content {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
  }
}

.state-content .map-content {
  display: block;
  position: relative;
  width: 60%;
}

@media only screen and (max-width: 1024px) {
  .state-content .map-content {
    overflow: hidden;
    width: 100%;
  }
}

.state-content .map-content .brasil {
  display: block;
  width: 100%;
}

.state-content .state-search-content {
  display: block;
  width: 35%;
}

@media only screen and (max-width: 1024px) {
  .state-content .state-search-content {
    margin: 0 0 0 -24px;
    width: calc(100% + 48px);
  }
}

.state-content .custom-search {
  display: block;
  margin: 0 0 0 20px;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .state-content .custom-search {
    margin: 20px auto 0;
    width: 90%;
  }
}

.state-content .custom-search h1 {
  color: var(--color-white);
  display: block;
  font-family: 'votorantim_sansbold';
  margin: 0;
  text-transform: uppercase;
}

.state-content .custom-search h2 {
  color: var(--color-white);
  display: block;
  font-family: 'votorantim_sansbold';
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  margin: 0;
  text-transform: uppercase;
}

.state-content .custom-search h6 {
  color: var(--color-white);
  display: block;
  font-family: 'votorantim_sanslight';
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  margin: 0 0 24px;
}

.state-content .custom-search .input-content {
  background: var(--color-white);
  border-radius: 3px;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .state-content .custom-search .input-content {
    border-radius: 0;
  }
}

.state-content .custom-search .input-content .twitter-typeahead {
  border-radius: 6px;
  height: 100%;
  width: 100%;
}

.state-content .custom-search .input-content .twitter-typeahead input {
  border: none;
  display: block;
  height: 56px;
  outline: none;
  padding: 0 24px;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .state-content .custom-search .input-content .twitter-typeahead input {
    box-shadow: 0px 8px 16px var(--color-shadow);
  }
}

.state-content .custom-search .input-content img {
  display: block;
  height: 24px;
  position: absolute;
  right: 16px;
  top: 18px;
  width: 24px;
}

.state-content .custom-search .input-content .twitter-typeahead .tt-menu {
  padding: 12px 0 0;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .state-content .custom-search .input-content .twitter-typeahead .tt-menu {
    position: static !important;
    padding: 0 12px;
  }
}

.state-content .custom-search .input-content .twitter-typeahead .tt-menu .tt-suggestion {
  border-bottom: 1px solid var(--color-blue);
  color: var(--color-green-hyper);
  display: block;
  font-family: 'votorantim_sansmedium';
  font-size: 20px;
  height: 48px;
  line-height: 48px;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .state-content .custom-search .input-content .twitter-typeahead .tt-menu .tt-suggestion {
    border-color: var(--color-cloudy);
    color: var(--color-black);
    display: block;
    font-family: 'votorantim_sansregular';
    font-size: 15px;
    height: 40px;
    line-height: 40px;
  }
}

.state-content .custom-search .input-content .twitter-typeahead .tt-menu .tt-suggestion:hover {
  background: url(../images/icons/icon-arrow-right-short.svg) no-repeat right center;
  color: var(--color-white);
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .state-content .custom-search .input-content .twitter-typeahead .tt-menu .tt-suggestion:hover {
    background: none;
    color: var(--color-black);
  }
}

.state-content .stripes {
  display: block;
  position: absolute;
  top: 0;
  right: -56px;
}

@media only screen and (max-width: 1024px) {
  .state-content .stripes {
    height: 228px;
    top: 0;
    right: -45px;
    width: 35px;
  }
}

/*** IVM ***/

#ivm-structure {
  position: relative;
}

#ivm-structure:before {
  background-color: var(--color-blue-bic);
  content: '';
  display: block;
  height: 880px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  #ivm-structure {
    overflow: hidden;
    background-color: var(--color-blue-bic);
  }
  #ivm-structure:before {
    display: none;
  }
}

#ivm-structure ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  padding-left: 20px;
}

#ivm-structure ol li {
  counter-increment: my-awesome-counter;
  color: var(--color-white);
}

#ivm-structure ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: var(--color-white);
  font-weight: bold;
}

.ivm-text-content {
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin: 0 0 30px;
  flex-direction: row;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .ivm-text-content {
    flex-direction: column;
  }
}

.ivm-text-content .ivm-structure-chart {
  display: block;
  width: 40%;
}

@media only screen and (max-width: 1024px) {
  .ivm-text-content .ivm-structure-chart {
    width: 100%;
  }
}

.ivm-text-content .stripes {
  display: block;
  height: 456px;
  position: absolute;
  top: -32px;
  right: -56px;
  width: 70px;
  z-index: 2;
}

@media only screen and (max-width: 1024px) {
  .ivm-text-content .stripes {
    height: 228px;
    top: 0px;
    right: -40px;
    width: 35px;
  }
}

.ivm-text-content .ivm-text {
  display: block;
  width: 65%;
}

@media only screen and (max-width: 1024px) {
  .ivm-text-content .ivm-text {
    width: 100%;
  }
}

.ivm-text-content .ivm-text p {
  color: var(--color-white);
  display: block;
  margin: 0 0 20px;
  text-align: justify;
}

#ivm-structure .accordion {
  display: block;
  width: 95%;
}

@media only screen and (max-width: 1024px) {
  #ivm-structure .accordion {
    width: 100%;
  }
}

#ivm-structure .accordion .card {
  border: none;
  border-radius: 0;
  box-shadow: 0px 8px 16px var(--color-shadow);
  margin: 0 0 8px;
}

#ivm-structure .accordion .card-header {
  background: none;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

#ivm-structure .accordion .card-header button {
  align-items: center;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  #ivm-structure .accordion .card-header button {
    padding: 12px 16px;
  }
}

#ivm-structure .accordion .card-header button:hover {
  text-decoration: none;
}

#ivm-structure .accordion .card-header button span {
  align-items: flex-start;
  color: var(--color-blue);
  display: flex;
  flex-direction: column;
  font-family: 'votorantim_sansbold';
  font-size: 24px;
  justify-content: flex-start;
  line-height: 32px;
  padding: 0 0 0 20px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  width: calc(100% - 30px);
  white-space: break-spaces;
}

#ivm-structure .accordion .card-header button span:before {
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
}

#ivm-structure .accordion .card:nth-child(1) .card-header button span:before {
  background-color: var(--color-orange-light);
}

#ivm-structure .accordion .card:nth-child(2) .card-header button span:before {
  background-color: var(--color-green-hyper);
}

#ivm-structure .accordion .card:nth-child(3) .card-header button span:before {
  background-color: var(--color-positive);
}

#ivm-structure .accordion .card:nth-child(4) .card-header button span:before {
  background-color: var(--color-blue);
}

#ivm-structure .accordion .card:nth-child(5) .card-header button span:before {
  background-color: var(--color-blue-sky);
}

@media only screen and (max-width: 1024px) {
  #ivm-structure .accordion .card-header button span {
    font-family: 'votorantim_sansmedium';
    font-size: 14px;
    line-height: 24px;
  }
}

#ivm-structure .accordion .card-header button small {
  color: var(--color-gray);
  font-size: 11px;
  line-height: 11px;
}

#ivm-structure .accordion>div .card-body {
  border-top: 1px solid var(--color-gray-light);
  margin: 0 auto;
  padding: 16px 0;
  width: calc(100% - 48px);
}

@media only screen and (max-width: 1024px) {
  #ivm-structure .accordion>div .card-body {
    width: calc(100% - 32px);
  }
}

#ivm-structure .accordion>div .card-body p {
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  #ivm-structure .accordion>div .card-body p {
    font-size: 14px;
    line-height: 18px;
  }
}

#ivm-structure .accordion>div .card-body strong {
  color: var(--color-green-hyper);
  display: block;
  font-family: 'votorantim_sansmedium';
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
  margin: 24px 0 16px;
}

#ivm-structure .accordion>div .card-body .indicadores:not(:first-child) {
  border-top: 1px solid var(--color-gray-light);
  display: block;
  margin: 12px 0 0;
  padding: 12px 0 0;
}

#ivm-structure .accordion>div .card-body .indicadores .indicadores-title {
  color: var(--color-blue);
  font-family: 'votorantim_sansmedium';
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
  margin: 0 0 16px;
}

@media only screen and (max-width: 1024px) {
  #ivm-structure .accordion>div .card-body .indicadores .indicadores-title {
    font-size: 16px;
    line-height: 16px;
    margin: 0 0 8px;
  }
}

#ivm-structure .accordion>div .card-body .indicadores .indicadores-title small {
  display: block;
  color: var(--color-gray);
  font-size: 11px;
  line-height: 11px;
}

#ivm-structure .accordion>div .card-body .indicadores strong {
  font-size: 18px;
  line-height: 18px;
  margin: 0 0 8px
}

@media only screen and (max-width: 1024px) {
  #ivm-structure .accordion>div .card-body .indicadores strong {
    font-size: 14px;
    line-height: 14px;
  }
}

#ivm-structure .accordion>div .card-body .indicadores p {
  display: block;
  font-size: 14px;
  line-height: 18px;
}

@media only screen and (max-width: 1024px) {
  #ivm-structure .accordion>div .card-body .indicadores p {
    display: block;
    font-size: 12px;
    line-height: 16px;
  }
}

#ivm-structure .accordion>div .card-body .indicadores small {
  color: var(--color-gray);
  font-size: 11px;
  line-height: 11px;
}

/*** COMPARE ***/

#compare {
  position: relative;
}

#compare:before {
  background-color: var(--color-blue-bic);
  content: '';
  height: 410px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  #compare {
    overflow: hidden;
  }
  #compare:before {
    display: none;
  }
  #compare .title {
    position: relative;
  }
  #compare .title:after {
    background-color: var(--color-blue-bic);
    content: '';
    display: block;
    height: calc(100% + 45px);
    left: -24px;
    position: absolute;
    top: 0;
    width: calc(100% + 48px);
    z-index: -1;
  }
  #compare .title.t2:after {
    display: none;
  }
}

#compare .title .go-estrutura-ivm {
  align-items: center;
  background-color: var(--color-white);
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  height: 32px;
  justify-content: center;
  margin: 0 0 0 16px;
  min-width: 32px;
  width: 32px;
}

#compare .municipalities-area-container {
  display: block;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  #compare .municipalities-area-container {
    background-color: var(--color-blue-bic);
    margin: 0 0 0 -24px;
    overflow: hidden;
    width: calc(100% + 48px);
  }
}

#compare .municipalities-area-container .arrow-left, #compare .municipalities-area-container .arrow-right {
  align-items: center;
  background-color: var(--color-white);
  border-radius: 50%;
  cursor: pointer;
  display: none;
  height: 40px;
  justify-content: center;
  left: 5px;
  position: absolute;
  top: 58%;
  transform: translateY(-50%);
  width: 40px;
  z-index: 2;
}

#compare .municipalities-area-container .arrow-right {
  left: auto;
  right: 5px;
}

@media only screen and (max-width: 1024px) {
  #compare .municipalities-area-container .arrow-left, #compare .municipalities-area-container .arrow-right {
    display: flex;
  }
}

#compare .municipalities-area-container>a img {
  display: block;
  height: 32px;
  width: 32px;
}

#compare .municipalities-area-container .steps {
  align-items: center;
  display: none;
  flex-direction: row;
  justify-content: center;
  padding: 12px 0 24px;
}

@media only screen and (max-width: 1024px) {
  #compare .municipalities-area-container .steps {
    display: flex;
  }
}

#compare .municipalities-area-container .steps span {
  background-color: var(--color-gray-light);
  display: block;
  height: 8px;
  margin: 0 12px;
  transition: all linear .25s;
  width: 16px;
}

#compare .municipalities-area-container .steps span.active {
  background-color: var(--color-attention);
}

#compare .municipalities-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  transition: all linear .25s;
  transform: translateX(0);
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  #compare .municipalities-area {
    padding: 0 24px 20px;
    width: calc(300% - 80px);
  }
}

#compare .municipalities-area-fonte {
  color: var(--color-gray);
  display: block;
  font-size: 12px;
  line-height: 20px;
  margin: 24px 0;
  text-align: center;
  width: 100%;
}

#compare .box-template {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#compare .box-template .header {
  align-items: flex-start;
  counter-increment: my-counter;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 0 24px;
  padding: 0 0 0 60px;
  position: relative;
  width: 100%;
}

#compare .box-template .header:before {
  align-items: center;
  border: 2px solid var(--color-white);
  border-radius: 50%;
  color: var(--color-white);
  display: flex;
  content: counter(my-counter);
  font-family: 'votorantim_sansbold';
  font-size: 24px;
  height: 48px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 7px;
  width: 48px;
}

@media only screen and (max-width: 1024px) {
  #compare .box-template .header {
    padding: 0;
  }
  #compare .box-template .header:before {
    display: none;
  }
}

#compare .box-template .header .title {
  color: var(--color-green-hyper);
  display: block;
  font-family: 'votorantim_sansmedium';
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  margin: 0;
  text-transform: uppercase;
  width: 100%;
}

#compare .box-template .header .title:before {
  display: none;
}

#compare .box-template .header .subtitle {
  color: var(--color-blue-sky);
  display: block;
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
  margin: 0;
  width: 100%;
}

#compare .box-template .content {
  background: var(--color-white);
  box-shadow: 0px 8px 16px var(--color-shadow);
  display: block;
  min-height: 500px;
  padding: 24px;
  position: relative;
  width: 100%;
}

#compare .box-template .content .actions {
  display: block;
  position: absolute;
  right: 16px;
  top: 16px;
}

#compare .box-template .content .actions button {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
}

#compare .box-template .content .actions .remover {
  display: block;
  height: 16px;
  width: 16px;
}

#compare .box-template .group-template h4 {
  color: var(--color-blue);
  display: block;
  font-family: 'votorantim_sansmedium';
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
  margin: 0 0 4px;
}

#compare .box-template .group-template h5 {
  color: var(--color-gray);
  display: block;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
}

#compare .box-template .group-template ul {
  display: block;
  list-style: none;
  margin: 0 0 16px;
  padding: 0;
}

#compare .box-template .group-template ul li {
  align-items: center;
  border-bottom: 1px solid var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 0;
  width: 100%;
}

#compare .box-template .group-template ul li span:first-child {
  display: block;
  font-size: 11px;
  line-height: normal;
  margin: 0 16px 0 0;
}

#compare .box-template .group-template ul li span:last-child {
  color: var(--color-blue-bic);
  display: block;
  font-family: 'votorantim_sansmedium';
  font-size: 11px;
  line-height: 20px;
}

#compare .box-template .accordion {
  display: block;
}

#compare .box-template .accordion .card {
  background: none;
  border: none;
  border-bottom: 1px solid var(--color-cloudy);
  border-radius: 0;
}

#compare .box-template .accordion .card .card-header {
  background: none;
  border: none;
  border-radius: 0;
  padding: 0;
}

#compare .box-template .accordion .card .card-header button {
  align-items: center;
  background: url(../images/icons/icon-arrow-down-alt2.svg) no-repeat center right;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  font-size: 11px;
  justify-content: space-between;
  line-height: 20px;
  padding: 8px 30px 8px 0;
  text-align: left;
  width: 100%;
}

#compare .box-template .accordion .card .card-header button span:last-child {
  color: var(--color-blue-bic);
  font-family: 'votorantim_sansmedium';
}

#compare .box-template .accordion .card ul {
  background-color: var(--color-background-card);
  margin: 0 0 0 -24px;
  padding: 0 24px;
  width: calc(100% + 48px);
}

#compare .box-template.empty .header {
  opacity: 0.2;
}

#compare .box-template.empty .header .title {
  background-color: var(--color-white);
  height: 24px;
  margin: 8px 0;
  width: 70%;
}

#compare .box-template.empty .header .subtitle {
  background-color: var(--color-white);
  height: 12px;
  margin: 0 0 12px;
  width: 40%;
}

#compare .box-template.empty .content {
  height: 100%;
}

#compare .box-template.empty .actions {
  left: 50%;
  right: auto;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

#compare .box-template.empty .actions .add {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

#compare .box-template.empty .actions .add img {
  display: block;
  margin: 0 auto 4px;
}

#compare .graphs-area {
  display: block;
  margin: 32px 0 0;
}

#compare .graphs-area h2 {
  color: var(--color-blue);
  display: block;
  font-family: 'votorantim_sansmedium';
  font-size: 20px;
  line-height: 32px;
  font-weight: normal;
  margin: 0 0 8px;
  text-align: center;
  width: 100%;
}

#compare .horizontal-graphs {
  display: block;
  margin: 0 0 32px;
}

#compare .horizontal-graphs h5 {
  font-family: 'votorantim_sansmedium';
  font-size: 11px;
  font-weight: normal;
  line-height: 24px;
  margin: 0 0 4px;
}

#compare .horizontal-graphs .progress {
  margin: 0 0 8px;
}

#compare .custom-select-content {
  border: 1px solid var(--color-orange);
  border-radius: 5px;
  display: block;
  margin: 0 auto 32px;
  text-align: center;
  position: relative;
  width: 440px;
}

@media only screen and (max-width: 1024px) {
  #compare .custom-select-content {
    width: 100%;
  }
}

#compare .custom-select-content select {
  color: var(--color-blue);
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  font-family: 'votorantim_sansmedium';
  font-size: 18px;
  font-weight: normal;
  line-height: 32px;
  outline: none;
  padding: 0;
  width: 100%;
  z-index: 2;
}

@media only screen and (max-width: 1024px) {
  #compare .custom-select-content select {
    font-size: 13px;
    line-height: 24px;
  }
}

#compare .custom-select-content img {
  display: block;
  position: absolute;
  right: 0;
  top: 8px;
  z-index: -1;
}

@media only screen and (max-width: 1024px) {
  #compare .custom-select-content img {
    height: 18px;
  }
}

#compare .vertical-graph-content {
  display: grid;
  grid-gap: 42px;
  width: 100%;
}

#compare .vertical-graph-content.g3 {
  grid-template-columns: repeat(3, 1fr);
}

#compare .vertical-graph-content.g4 {
  grid-template-columns: repeat(4, 1fr);
}

#compare .vertical-graph-content.g5 {
  grid-template-columns: repeat(5, 1fr);
}

#compare .vertical-graph-content .vertical-graph {
  display: block;
  height: 300px;
  width: 100%;
}

#compare .vertical-graph-content .vertical-graph canvas {
  height: 100% !important;
  width: 100% !important;
}

#compare .vertical-graph-content .vertical-graph>div h1 {
  display: block;
  color: var(--color-blue);
  font-family: 'votorantim_sansmedium';
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 15px;
  line-height: 22px;
}

#compare .vertical-graph-content .vertical-graph>div label {
  margin: 0;
  display: block;
}

@media only screen and (max-width: 1024px) {
  #compare .vertical-graph-content.g3, #compare .vertical-graph-content.g4, #compare .vertical-graph-content.g5 {
    grid-template-columns: 1fr;
  }
}

#compare .graph-legend {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 16px 0;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  #compare .graph-legend {
    flex-direction: column;
  }
}

#compare .graph-legend span {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  font-size: 11px;
  justify-content: flex-start;
  line-height: 20px;
  position: relative;
}

#compare .graph-legend span:before {
  content: '';
  display: block;
  height: 8px;
  margin: 5px 4px 0 0;
  width: 12px;
}

#compare .graph-legend span:not(:first-child) {
  margin: 0 0 0 8px;
}

@media only screen and (max-width: 1024px) {
  #compare .graph-legend span {
    margin: 0 0 8px !important;
  }
}

#compare .graph-legend span:nth-child(1):before {
  background-color: var(--color-blue-bic);
}

#compare .graph-legend span:nth-child(2):before {
  background-color: #5679db;
}

#compare .graph-legend span:nth-child(3):before {
  background-color: var(--color-blue-sky);
}

/*** HEAT-MAP ***/

#heat-map {
  background-color: var(--color-blue-bic);
}

@media only screen and (max-width: 1024px) {
  #heat-map {
    overflow: hidden;
  }
}

.heat-map-content {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .heat-map-content {
    flex-direction: column;
  }
}

.heat-map-content .map {
  color: var(--color-white);
  display: block;
  position: relative;
  width: 60%;
}

@media only screen and (max-width: 1024px) {
  .heat-map-content .map {
    height: auto;
    overflow: hidden;
    width: 100%;
  }
}

.heat-map-content>small {
  color: var(--color-white);
  margin: 20px 0;
}

.heat-map-content .map .loading {
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.heat-map-content .map .loading.show {
  display: flex;
}

.heat-map-content .map .loading img {
  width: 100px;
}

#heat-map .heat-map-search-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 0 20px;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  #heat-map .heat-map-search-content {
    flex-direction: column;
  }
}

#heat-map .heat-map-search-content>div:not(:first-child) {
  margin: 0 0 0 15px;
}

@media only screen and (max-width: 1024px) {
  #heat-map .heat-map-search-content>div:not(:first-child) {
    margin: 0 0 15px;
  }
}

#heat-map .heat-map-search-content h3 {
  color: var(--color-white);
  display: block;
  font-family: 'votorantim_sansbold';
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  margin: 0 0 24px;
  width: 100%;
}

#heat-map .custom-select-content {
  display: block;
  width: 100%;
}

#heat-map .regiao-select {
  min-width: 200px;
  max-width: 200px;
}

@media only screen and (max-width: 1024px) {
  #heat-map .regiao-select {
    min-width: 100%;
    max-width: 100%;
  }
}

#heat-map .custom-select-content label {
  color: var(--color-white);
  display: block;
}

#heat-map .custom-select-content .custom-select {
  background: var(--color-white);
  border: none;
  border-radius: 3px;
  display: block;
  height: 56px;
  padding: 0;
  position: relative;
}

#heat-map .custom-select-content .custom-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  border-radius: 3px;
  color: var(--color-blue);
  cursor: pointer;
  display: block;
  font-family: 'votorantim_sansmedium';
  font-size: 18px;
  height: 100%;
  padding: 0 16px;
  position: relative;
  width: 100%;
  z-index: 1;
}

#heat-map .custom-select-content .custom-select img {
  display: block;
  height: 16px;
  position: absolute;
  right: 16px;
  top: 21px;
  width: 16px;
}

.table-content-h5 {
  color: var(--color-white);
  text-align: center;
  width: 100%;
}

.table-content-h6, .table-content-sim-nao {
  color: var(--color-attention);
  text-align: center;
  margin: 0 16px;
}

#heat-map .graph-legend-content {
  bottom: 25px;
  display: block;
  left: 0;
  position: absolute;
}

@media only screen and (max-width: 1024px) {
  #heat-map .graph-legend-content {
    bottom: auto;
    display: block;
    left: auto;
    position: static;
    width: 100%;
  }
}

#heat-map .graph-legend-content span {
  align-items: center;
  color: var(--color-white);
  display: flex;
  font-size: 14px;
  justify-content: flex-start;
}

#heat-map .graph-legend-content span:before {
  display: block;
  content: '';
  display: inline-block;
  height: 12px;
  margin: 0 5px 0 0;
  width: 12px;
}

#heat-map .graph-legend-content span.vermelho:before {
  background-color: var(--color-negative);
}

#heat-map .graph-legend-content span.laranja:before {
  background-color: var(--color-orange);
}

#heat-map .graph-legend-content span.amarelo:before {
  background-color: var(--color-attention);
}

#heat-map .graph-legend-content span.verde-claro:before {
  background-color: var(--color-green-hyper);
}

#heat-map .graph-legend-content span.verde:before {
  background-color: var(--color-positive);
}

#heat-map .graph-legend-content span.covid1:before {
  background-color: #f5c88a;
}

#heat-map .graph-legend-content span.covid2:before {
  background-color: #F3AA47;
}

#heat-map .graph-legend-content span.covid3:before {
  background-color: #ff7e00;
}

#heat-map .graph-legend-content span.covid4:before {
  background-color: #DE5E57;
}

#heat-map .graph-legend-content span.covid5:before {
  background-color: #df2a20;
}

#heat-map .graph-legend-content span.cinza:before {
  background-color: var(--color-gray-light);
}

@media only screen and (max-width: 1024px) {
  #heat-map .map>small {
    display: block;
    font-size: 12px;
    line-height: 14px;
    margin: 10px 0;
  }
}

.heat-map-content .right {
  display: block;
  width: 39%;
  padding: 40px 0 0;
}

@media only screen and (max-width: 1024px) {
  .heat-map-content .right {
    padding: 0;
    margin: 30px 0 0;
    width: 100%;
  }
}

.heat-map-content .table-content {
  display: block;
  height: 500px;
  overflow-y: scroll;
  padding: 16px;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .heat-map-content .table-content {
    margin: 0 0 20px;
    padding: 0;
    width: 100%;
  }
}

.heat-map-content .table-content table {
  position: relative;
  width: 100%;
}

.heat-map-content .table-content table th, .heat-map-content .table-content table td {
  color: var(--color-white);
  padding: 12px;
  text-align: center;
}

.heat-map-content .table-content table tbody tr:nth-of-type(odd) {
  background-color: var(--color-blue);
}

.heat-map-content .table-content table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.heat-map-content .table-content table td:not(:first-child) {
  border-left: 1px solid var(--color-background);
}

.heat-map-content .table-content table th {
  color: var(--color-attention);
}

.heat-map-content .table-content table td {
  font-family: 'votorantim_sansregular';
  text-align: left;
}

.heat-map-content .stripes {
  display: block;
  position: absolute;
  top: 0;
  right: -56px;
}

@media only screen and (max-width: 1024px) {
  .heat-map-content .stripes {
    height: 228px;
    top: 0;
    right: -45px;
    width: 35px;
  }
}

.covid-data {
  align-items: flex-start;
  border-left: 1px solid var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 350px;
  padding: 0 0 0 15px;
}

@media only screen and (max-width: 1024px) {
  .covid-data {
    border: none;
    border-bottom: 1px solid var(--color-white);
    border-top: 1px solid var(--color-white);
    margin: 15px 0 !important;
    padding: 10px 0;
    width: 100%;
  }
}

.covid-data strong {
  color: var(--color-white);
  display: block;
  margin: 0 0 10px;
}

.covid-data p {
  color: var(--color-white);
  line-height: 22px;
  margin: 0;
}

.covid-data p label {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

.covid-data p small label {
  font-weight: bold;
  font-size: 90%;
  margin: 0;
}

.custom-range {
  display: block;
  margin: 0 15px 0 30px !important;
  width: 220px;
}

@media only screen and (max-width: 1024px) {
  .custom-range {
    display: block;
    margin: 15px !important;
    width: 270px;
  }
}

.custom-range label {
  color: var(--color-white);
  display: block;
  margin: 0 0 20px;
  width: 100%;
}

.custom-range .slider {
  display: block;
  width: 100%;
}

.custom-range .slider .slider-container {
  margin: 0 auto;
  width: 220px !important;
}

.custom-range .slider .slider-container .back-bar {
  background: var(--color-attention);
  border-radius: 0;
  height: 2px;
}

.custom-range .slider .slider-container .back-bar .selected-bar {
  background: var(--color-attention);
}

.custom-range .slider .slider-container .back-bar .pointer {
  background: var(--color-attention);
  border: none;
  border-radius: 50%;
  height: 24px;
  top: -11px;
  width: 24px;
}

.custom-range .range-value-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px auto 0;
  max-width: 220px;
  width: 100%;
}

.custom-range .range-value-content .range-value {
  background-color: var(--color-white);
  border: none;
  border-radius: 3px;
  color: var(--color-blue);
  font-size: 14px;
  height: 22px;
  text-align: center;
  width: 30%;
}

@media only screen and (max-width: 1024px) {
  .custom-range .range-value-content .range-value {
    font-size: 10px;
    font-family: 'votorantim_sansmedium';
  }
}

/*** MODAL ***/

#modal {
  background-color: var(--color-background-modal);
  content: '';
  display: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

#modal.show {
  display: flex;
}

#modal .modal-container {
  display: block;
  left: 50%;
  position: fixed;
  top: 80px;
  transform: translateX(-50%);
  width: 448px;
}

@media only screen and (max-width: 1024px) {
  #modal .modal-container {
    align-items: flex-start;
    background-color: var(--color-background);
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    left: 0;
    position: relative;
    top: 0;
    transform: translateX(0);
    width: 100%;
  }
}

#modal .modal-container .top {
  display: block;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  #modal .modal-container .top {
    align-items: flex-end;
    background-color: var(--color-blue-bic);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px;
  }
}

.modal-container .top .close-modal {
  cursor: pointer;
  display: block;
  height: 24px;
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  z-index: 99999;
}

@media only screen and (max-width: 1024px) {
  .modal-container .top .close-modal {
    position: static;
  }
}

.modal-container .top .title {
  font-family: 'votorantim_sansbold';
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  text-transform: uppercase;
}

.modal-container .top .title:before {
  display: none;
}

.modal-container .top .subtitle {
  color: var(--color-gray-light);
  display: block;
  font-family: 'votorantim_sansmedium';
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
  margin: 0 0 8px;
  width: 100%;
}

.modal-container .top .tip {
  color: var(--color-gray-light);
  font-family: 'votorantim_sansmedium';
  margin: 0 0 14px;
  display: block;
  text-align: justify;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .modal-container .top .subtitle, .modal-container .top .tip {
    margin: 0;
  }
}

.modal-container #search_block_mobile {
  background-color: var(--color-white);
  box-shadow: 0px 8px 16px var(--color-shadow);
  display: block;
  height: 72px;
  position: relative;
  width: 100%;
}

.modal-container #search_block_mobile img {
  display: block;
  height: 24px;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
}

.modal-container #search_block_mobile #city-search_mobile_geral_listbox {
  padding: 0 24px;
  width: 100%;
}

.modal-container #search_block_mobile .twitter-typeahead {
  display: block;
  height: 100%;
  width: 100%;
}

.modal-container #search_block_mobile .twitter-typeahead input {
  border: none;
  box-shadow: none;
  display: block;
  height: 100%;
  outline: none;
  padding: 0 72px 0 24px;
  width: 100%;
}

.modal-container #search_block_mobile .twitter-typeahead #city-search_mobile_listbox, .modal-container #search_block_mobile .twitter-typeahead #city-search_cluster_listbox {
  background-color: var(--color-background);
  padding: 0 24px;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .modal-container #search_block_mobile .twitter-typeahead #city-search_mobile_listbox, .modal-container #search_block_mobile .twitter-typeahead #city-search_cluster_listbox {
    background: none;
  }
}

.modal-container #search_block_mobile .twitter-typeahead .tt-suggestion {
  border-bottom: 1px solid var(--color-cloudy);
  cursor: pointer;
  padding: 8px 0;
  width: 100%;
}

#modal #select-states {
  display: block;
  height: calc(100vh - 104px);
  overflow-y: scroll;
  padding: 24px;
  width: 100%;
}

#modal #select-states h4 {
  display: block;
  font-family: 'votorantim_sansmedium';
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
  margin: 0 0 16px;
}

#modal #select-states ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

#modal #select-states li {
  border-color: var(--color-cloudy);
  color: var(--color-black);
  display: block;
  font-family: 'votorantim_sansregular';
  font-size: 15px;
  height: 40px;
  line-height: 40px;
}
