@font-face {
	font-family: 'VotorantimSans';
	src: url('../fonts/VotorantimSans-Bold_WebOnly.ttf') format('truetype');
}

@font-face {
	font-family: 'VotorantimSansRegular';
	src: url('../fonts/VotorantimSans-Regular_WebOnly.ttf') format('truetype');
}

@font-face {
	font-family: 'VotorantimSansBlack';
	src: url('../fonts/VotorantimSans-Black_WebOnly.ttf') format('truetype');
}

@font-face {
	font-family: 'VotorantimSansLight';
	src: url('../fonts/VotorantimSans-Light_WebOnly.ttf') format('truetype');
}

@font-face {
	font-family: 'MyriadPro-Bold';
	src: url('../fonts/MyriadPro-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'MyriadPro-Semibold';
	src: url('../fonts/MyriadPro-Semibold.ttf') format('truetype');
}

@font-face {
	font-family: 'MyriadPro-Light';
	src: url('../fonts/MyriadPro-Light.ttf') format('truetype');
}


html{
    scroll-behavior: smooth;
}

.rodape-mobilidade{
	display: none;
 }

.titulo-download {
	font-size: 54pt;
	color: #0000be;
	font-weight: 800;
}

.casas{
    position: absolute;
    left: 0px;
    top: 100%;
    margin-top: 45px;
}

.selecao {
	font-size: 35pt;
	text-transform: uppercase;
	color: #fff;
	font-weight: 800;
	margin-top: -80px;
}

.desc-selecao {
	font-size: 22pt;
	margin-top: 60px;
	color: #fff;
}

.logo-votorantim {
	margin-bottom: 40px;
	margin-left: 8%;
	width: 82%;
	margin-top: -60px;
}

.texto-down-edital {
	margin-top: 30px;
	margin-bottom: 40px;
	color: #0000be;
	font-size: 20pt;
	width: 100%;
	line-height: 1em;
}

.espaco-bottom {
	margin-bottom: 60px!important;
}

.button-dow-2 {
	padding: 0!important;
}

.titulo-contato {
	color: #fff;
}

.desc-contato {
	color: #fff;
	font-size: 14pt;
	margin-top: 50px;
	margin-left: 90px;
}

.btn-contato {
	height: 50px;
}

.msg-obrigado {
	font-family: "VotorantimSans";
	margin-top: 50px;
	color: #fff;
	font-size: 40pt;
	line-height: 1em;
}

.divisao-prazos-direita {
	width: 90%!important;
}

.direita {
	float: right;
}

.button-down {
	font-family: "VotorantimSansBlack";
	background-color: #ff7e00;
	padding: 10pt 20pt;
	width: 100%;
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 900!important;
	line-height: 1.2em;
	font-size: 12pt;
	border: none;
	height: 90px;
}

.form-contato {
	margin-top: 50px;
}

.msg-contato {
	height: 260px!important;
}

.icone-criterio {
	float: left;
	margin-top: 100px;
}

.item-criterios {
	margin-top: 100px;
	line-height: 30px;
	color: #fff;
	font-family: 'VotorantimSansRegular';
	font-size: 18pt;
}

.top-item {
	margin-top: 20px!important;
}

.top-item-img {
	margin-top: 30px!important;
}

.top-item-img2 {
	margin-top: 20px!important;
}

.button-municipios {
	font-family: "VotorantimSansBlack";
	background-color: #ff7e00;
	padding: 10pt 2pt;
	width: 100%;
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 900!important;
	line-height: 1.2em;
	font-size: 12pt;
	border: none;
	height: 90px;
	margin-top: 20px;
}

.logo-menor{
    width: 50%!important;
}

.logo-menor-2{
    width: 60%!important;
}

.button-municipios-2 {
	font-family: "VotorantimSansBlack";
	background-color: #ff7e00;
	padding: 10pt 80pt;
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 900!important;
	line-height: 1.2em;
	font-size: 12pt;
	border: none;
	height: 90px;
    margin: 0 auto;
    display: block;
}

.obs {
	font-family: "VotorantimSansLight";
	margin-top: 20px;
	font-size: 9pt;
	letter-spacing: 1px;
	font-weight: 500;
	line-height: 16px;
}

.btn-form {
	font-family: "MyriadPro-Bold";
	background-color: #ff7e00;
	padding: 10pt 0pt;
	border-radius: 12px;
	color: #fff;
	border: none;
	font-weight: 800;
	text-transform: uppercase;
	margin-top: 30px;
	font-size: 18pt;
}

.area-edital {
	height: 400px!important;
}

.titulo-edital {
	font-family: "VotorantimSans";
	color: #fff;
	font-size: 35pt;
	margin-top: -30px;
	text-transform: uppercase;
	font-weight: 600;
}

.titulo-capacitacao,
.publico-alvo,
.metodologia {
	font-family: "VotorantimSans";
	color: #fff;
	font-size: 35pt;
	text-transform: uppercase;
	line-height: 1em;
	font-weight: bold;
}

.desc-edital {
	font-family: "VotorantimSansRegular";
	color: #fff;
	margin-top: 40px;
	font-size: 18pt;
}

.divisao-esquerda {
	background-color: #ffc409;
	height: 14px;
	float: right;
	width: 30%;
}

.divisao-esquerda-contato {
	background-color: #ffc409;
	height: 14px;
	float: right;
	width: 65%;
}

.divisao-prazos {
	background-color: #fff;
	height: 16px;
	width: 90%;
}

.textos {
	font-family: "MyriadPro";
	font-size: 18pt;
	margin-top: 40px!important;
	font-weight: 200;
	color: #fff;
}

.textos-2 {
	font-family: "VotorantimSansRegular"!important;
}

.titulo-prazo {
	font-family: "VotorantimSansBlack";
	color: #fff;
	font-size: 35pt;
	margin-top: -10px;
	font-weight: 800;
	text-transform: uppercase;
}

.ancora {
	scroll-behavior: smooth!important;
}

.divisor {
	background-color: #ffc409;
	height: 10px;
	width: 30%;
	margin: 20px auto;
	display: block;
}

.divisor-selecao {
	font-family: "VotorantimSans";
	background-color: #ffc409;
	height: 10px;
	width: 62%;
	display: block;
	margin-top: 50px;
}

.divisor-completo {
	background-color: #fff;
	height: 50px;
	width: 100%;
	margin-top: -40px;
}

.titulo-formulario {
	font-family: 'MyriadPro-Light';
	font-size: 15pt;
	font-weight: 600;
}

.titulo-botao {
	font-family: 'MyriadPro-Semibold';
	font-size: 14pt!important;
}

.juntos {
	font-family: "VotorantimSans";
	font-size: 60pt;
	color: #fff;
	line-height: 80px;
	font-weight: 800;
	margin-top: 60px;
}

.area-inscricao {
	height: auto;
}

.voltar{
    color: #fff;
}
.area-download {
	padding-top: 60px!important;
}

.periodo {
	font-family: "VotorantimSansRegular";
	font-size: 15pt;
	line-height: 35px;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 40px;
}

.texto-edital {
	font-family: "VotorantimSansRegular";
	font-size: 15pt;
	line-height: 35px;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 40px;
}

.municipios {
	font-size: 35pt;
	color: #fff;
	font-weight: 800;
	line-height: 1em;
	margin-top: 50px;
}

.votorantim {
	font-size: 35pt;
	color: #fff;
	font-weight: 800;
	margin-top: -10px;
}

.logo-votorantim-inscricao {
	width: 53%;
	margin-left: 0px;
	margin-top: 0px;
}

.corona {
	font-family: "VotorantimSans";
	color: #ffc409;
	font-weight: 800;
	font-size: 16pt;
	margin-top: -8px;
}

.divisao-black {
	background-color: #afafaf;
	height: 1px;
	width: 100%;
}

.realizacao {
	font-size: 20pt;
	font-weight: bold;
	margin-top: 20px;
}

.logo-v2 {
	float: left;
}

.circulo {
	margin-left: -10px;
}

.datas {
	font-family: "VotorantimSans";
	border-left: 2px solid #fff;
	border-width: 2px;
	height: 300px;
	color: #fff;
	font-weight: bold;
}

.top-40 {
	margin-top: 40px;
}

.top-80 {
	margin-top: 80px;
}

.box-foco {
	width: 85%;
}

.box {
	background-color: #ff7e00;
	width: 80%;
    text-align: center;
    padding: 10px;
}

.box-desc-foco {
	margin-left: 120px!important;
}

.texto-desc-foco {
	float: left;
	width: 100%;
	font-weight: bold;
	font-size: 12pt;
}

.inscricao {
	font-family: "VotorantimSans";
	color: #fff;
	font-weight: 600;
	font-size: 35pt;
	text-align: left!important;
}

.btn-desc-insc {
	font-family: "VotorantimSansBlack";
	margin-top: 50px!important;
}

.desc-inscricao {
	font-family: "VotorantimSansRegular";
	color: #fff;
	margin-top: 30px!important;
	font-size: 18pt;
	padding: 0px!important;
	text-align: left;
	line-height: 0px;
}

.foco-capacitacao {
	font-family: "VotorantimSans";
	background-color: #ff7e00;
	padding: 30px 30px 30px 20%;
	font-size: 38pt;
	font-weight: 800;
	color: #fff;
	line-height: 40pt;
	text-transform: uppercase;
}

.destaque {
	font-family: "VotorantimSans";
	color: #0000be!important;
	font-weight: 920;
}

.cont::-webkit-scrollbar-track {
	background-color: #F4F4F4;
}

.cont::-webkit-scrollbar {
	width: 10px;
	background: #F4F4F4;
}

.cont::-webkit-scrollbar-thumb {
	background: #dad7d7;
}

.empresa{
	width: 100%;
    margin: 0 auto;
    display: block;
}

.apoio {
	margin-top: -40px;
	margin-bottom: 20px;
	margin-left: 10%;
}

.obrigado {
	width: 24%!important;
}

.mobile {
	display: none;
}

@media(max-width:479px) {
	.rodape-pc{
		display: none;
	 }

	 .rodape-mobilidade{
		display: block;
		width: 80%;
	 }

	.texto-edital {
		font-size: 10pt;
		line-height: 15pt;
	}
	.button-down {
		height: 60px;
	}
	.titulo-download {
		font-size: 18pt!important;
	}
	.textos {
		font-size: 12pt!important;
		margin: 0 auto;
		display: block;
	}
	.mobile {
		display: block;
	}
	.logo-votorantim {
		margin-left: 0px;
		float: right;
		width: 100%;
		margin-top: -100px;
	}
	.juntos {
		font-size: 32pt;
		text-align: left;
		line-height: 24pt;
		margin-top: 0px;
		margin-bottom: 20px;
	}
	.btn-form {
		font-size: 14pt;
	}
	.mobile-form {
		display: block!important;
	}
	.apoio {
		text-align: left!important;
	}
	.duas-logos {
		margin-right: 0px!important;
		margin-left: 100px;
	}
	.top-40 {
		margin-top: 0px!important;
	}
	.logo-5 {
		margin-left: 100px!important;
	}
	.logo-4 {
		margin-left: 50px!important;
	}
	.logo-5 {
		margin-top: 20px!important;
		margin-left: 100px!important;
	}
	.logo-3 {
		margin: 20px 0px!important;
	}
	.inscricao {
		font-size: 20pt;
	}
	.logo-v2 {
		width: 250px;
	}
	.texto-down-edital {
		font-size: 12pt;
	}
	.button-down,
	.button-municipios {
		font-size: 10pt;
	}
	.icone {
		width: 60px!important;
		margin-top: 20px;
	}
	.destaque {
		font-size: 14pt;
		line-height: 1em!important;
		margin-top: 20px;
		color: #0000be!important;
	}
	.texto-desc-foco {
		font-family: "VotorantimSansRegular";
		width: 100%!important;
		margin-top: 4px;
	}
	.foco-capacitacao {
		font-size: 18pt;
		line-height: 26px;
	}
	.titulo-capacitacao,
	.publico-alvo,
	.metodologia,
	.titulo-edital {
		font-size: 18pt;
	}
	.divisao-prazos {
		display: none;
	}
	.box-desc-foco {
		margin-left: 80px!important;
		margin-top: 5px;
	}
	.box-foco {
		width: 100%;
	}
	.datas {
		height: 100px;
		font-size: 14pt!important;
		line-height: 1em!important;
	}
	.sera-selecao {
		height:auto!important;
		background-position: center center!important;
		background-size: 1000% 130%!important;
	}
	.fiocruz {
		margin-top: 50px;
	}
	.desc-selecao {
		font-size: 12pt;
		margin-top: 60px;
		color: #fff;
		word-wrap: break-word;
	}
	.titulo-formulario {
		font-size: 12pt;
	}
	.empresa {
		margin: 20px auto;
		display: block;
		width: 40%!important;
	}
	.bannerq-bg {
		background-size: cover!important;
		background-position: center center!important;
	}
	.selecao {
		font-size: 14pt!important;
	}
	.desc-inscricao {
		font-size: 12pt;
		word-wrap: break-word;
		line-height: 1em;
	}
	.titulo-edital {
		line-height: 1em;
	}
	.icone-criterio {
		display: none;
	}
	.item-criterios {
		font-size: 12pt;
	}
}