@font-face {
    font-family: 'VotorantimSans';
    src: url('../fonts/VotorantimSans-Bold_WebOnly.ttf') format('truetype');
}

@font-face {
    font-family: 'VotorantimSansRegular';
    src: url('../fonts/VotorantimSans-Regular_WebOnly.ttf') format('truetype');
}

@font-face {
    font-family: 'VotorantimSansBlack';
    src: url('../fonts/VotorantimSans-Black_WebOnly.ttf') format('truetype');
}

@font-face {
    font-family: 'VotorantimSansLight';
    src: url('../fonts/VotorantimSans-Light_WebOnly.ttf') format('truetype');
}

@font-face {
    font-family: 'VotorantimSansMedium';
    src: url('../fonts/VotorantimSans-Medium_WebOnly.ttf') format('truetype');
}


.quem-somos{
    font-family: 'VotorantimSansBlack';
    padding-top: 50px;
    color: #0000be;
}




.subtitulo-quem-somos{
    font-family: 'VotorantimSansLight';
    font-weight: bold;
    color: #000;
    font-size: 16px;
}

.divisao{
    height: 5px;
    width: 48%;
    background-color: #b4dc31;
}

.divisao-2{
    height: 5px;
    width: 20%;
    background-color: #b4dc31;
}

.btn-sobre-votorantim{
    background-color: #ff6f0d;
    color: #fff;
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
}

.btn-ivm{
    font-family: 'VotorantimSans';
    background-color: #ff6f0d;
    width: 20%;
    margin-top:-100px;
    margin-left: 40%;
    font-size: 20px;
    position: absolute;
    color: #fff;
}

.btn-edital{
    background-color: #ff6f0d;
    color: #fff;
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
    width: 45%;
    text-align: center;
}

.btn-material{
    background-color: #0000be;
    color: #fff;
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
    width: 45%;
    text-align: center;
}

.btn-leia-mais{
    background-color: #ff6f0d;
    color: #fff;
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
}

.btn-sobre-votorantim:hover,.btn-edital:hover,.btn-material:hover, .todas-noticias:hover,.btn-leia-mais:hover,.btn-mais-webinar:hover{
    color: #fff;
}

.noticias{
    background-color: #848484;
    padding: 70px 0px;
}

.titulo-noticia{
    font-family: 'VotorantimSansBlack';
    color: #fff;
}



.titulo-item-noticia{
    font-family: 'VotorantimSansBlack';
    font-size: 20px;
    text-transform: uppercase;
}

.desc-noticia{
    font-family: 'VotorantimSansRegular';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10pt;
}
.desc-contato{
    font-family: 'VotorantimSansRegular';
    font-weight: bold;
    color: #0000be;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.3em;
}

.desc-ivm{
    font-family: 'VotorantimSansRegular';
    font-weight: bold;
    font-size: 15pt;
}

.area-noticia{
    margin-top: 50px;
}

.todas-noticias{
    color: #fff;
    font-family: 'VotorantimSansRegular';
    float: right;
    font-size: 20px;
    margin-top: -40px;
}

.banners{
    margin-top: 80px!important;
}

.webinar{
    padding: 50px 0px;
    background-color: #ff6f0d;
}

.titulo-webinar{
    font-family: 'VotorantimSansBlack';
    color: #fff;
    text-transform: uppercase;
}

.data{
    font-family: 'VotorantimSansBlack';
    color: #fff;
    text-align: center;
    font-size: 33px;
    padding-top: 15px;
}

.desc-data{
    font-family: 'VotorantimSansBlack';
    color: #fff;
    text-align: center;
    font-size: 15px;
    margin-top: -10px;
}

.desc-tema-webinar{
    color: #ff6f0d;
    font-family: 'VotorantimSansRegular';
    text-transform: uppercase;
    line-height: 1.2em;
    margin-top: -10px;
    padding-bottom: 10px;
    font-weight: 900;
}

.btn-como-foi{
    font-family: 'VotorantimSansMedium';
    font-size: 8px;
    background-color: #e54576;
    color: #fff;
    text-align: left;
    margin-top: 36px;
    font-weight: bold;
    float: right;
}

.desc-destaque-webinar{
    font-family: 'VotorantimSansRegular';
    font-size: 21px;
    line-height: 1.3em;
    color: #fff;
    text-transform: uppercase;
}

.btn-mais-webinar{
    background-color: #e54576;
    color: #fff;
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
    margin: 30px auto;
    padding: 10px;
}

.titulo-destaque-webinar{
    font-family: 'VotorantimSansBlack';
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

.tema-webinar{
    font-family: 'VotorantimSansBlack';
    color: #ff6f0d;
    padding-top: 10px;
    line-height: 1.2em;
}

.desc-webinar{
    font-family: 'VotorantimSansLight';
   color: #fff;
   margin-top: 20px;
   font-weight: 900;
   font-size:  20px;
}

.divisao-3{
    height: 5px;
    width: 30%;
    margin:0 auto;
    background-color: #fff;
}

.divisao-4{
    height: 5px;
    width: 10%;
    margin:0 auto;
    background-color: #b4dc31;
    margin: 5px auto;
}

.divisao-5{
    height: 5px;
    width: 60%;
    margin:0 auto;
    background-color: #fff;
    margin: 5px auto;
}

.divisao-6{
    height: 5px;
    width: 40%;
    background-color: #b4dc31;
}

.item-webinar{
    margin-top: 60px;
}

.data{
    background-color: #de1754;
}

.bg-data{
    background-color: #fff;
}

.mapa{
    width: 50%;
    right: 10%;
    position: absolute;
}

.conteudo-ivm{
    margin-top:220px;
}

.conteudo-ivm{
    background-color: #de5d57;
    width: 50%;
    margin:188px auto;
    color: #fff;
    padding: 20px;
}

.titulo-ivm{
    font-family: 'VotorantimSansBlack';
    color: #fff;
    font-size:  34px;
    text-transform: uppercase;
}

.indice{
    padding-top: 40px;
}

.municipios{
    background-color: #0000be;
}

.contra-corona{
 margin-top: 100px;
 font-family: 'VotorantimSans';
    color: #fff;
    font-size:  60px;
    line-height:  1em;
}

.desc-corona{
    margin-top: 30px;
    font-family: 'VotorantimSansRegular';
    color: #fff;
    font-size: 16px;
}

.desc-material{
    margin-top: 30px;
    font-family: 'VotorantimSansRegular';
    color: #0000be;
    font-weight: bold;
    font-size: 16px;
}

.img-municipio{
    margin-top:-200px;
}

.juntos{
  width: 60%;
  margin-top: 20%;
}

.empresa{
    width: 80%;
}

.top-40{
    margin-top: 40px;
}

.top-30{
    margin-top: 30px;
}

.top-60{
    margin-top: 100px!important;
}

.top-120{
    margin-top: 120px!important;
}

.logo-v2{
    width: 60%;
    margin-top: -30px;
}

.material{
    font-family: 'VotorantimSansBlack';
    padding-top: 20px;
    color: #0000be;
    background-color: #b4dc31;
    text-transform: uppercase;
}

.titulo-contato{
    font-family: 'VotorantimSansBlack';
    color: #0000be;
}

.btn-form-contato{
    background-color: #d9d9d9;
}

.btn-submit-contato{
    background-color: #0000be;
    border:none;
    color: #fff;
    width: 20%;
}

.contato{
    margin-top: 100px;
}

.msg-contato{
    height: 250px!important;
}