@font-face {
    font-family: 'VotorantimSans';
    src: url('../fonts/VotorantimSans-Bold_WebOnly.ttf') format('truetype');
}

@font-face {
    font-family: 'VotorantimSansRegular';
    src: url('../fonts/VotorantimSans-Regular_WebOnly.ttf') format('truetype');
}

@font-face {
    font-family: 'VotorantimSansBlack';
    src: url('../fonts/VotorantimSans-Black_WebOnly.ttf') format('truetype');
}

@font-face {
    font-family: 'VotorantimSansLight';
    src: url('../fonts/VotorantimSans-Light_WebOnly.ttf') format('truetype');
}

@font-face {
    font-family: 'VotorantimSansMedium';
    src: url('../fonts/VotorantimSans-Medium_WebOnly.ttf') format('truetype');
}


.quem-somos{
    font-family: 'VotorantimSansBlack';
    padding-top: 50px;
    color: #fff;
}




.subtitulo-quem-somos{
    font-family: 'VotorantimSansLight';
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}

.subtitulo-indice{
    font-family: 'VotorantimSansRegular';
    font-weight: bold;
    color: #fff;
    font-size: 22px;
}

.area-sistema{
  background-color: #ff6f0d;
}

.desc-sistema{
    font-family: 'VotorantimSansRegular';
    font-size: 22px;
    line-height: 1.3em;
    margin-bottom: 50px;
    color: #fff;
}

.divisao{
    height: 3px;
    width: 48%;
    background-color: #ff6f0d;
}

.divisao-2{
    height: 5px;
    width: 20%;
    background-color: #b4dc31;
}

.btn-sobre-votorantim{
    font-family: 'VotorantimSansRegular';
    background-color: #ff6f0d;
    color: #fff;
    text-align: left;
    line-height: 1.3em;
    margin-top: 20px;
    width: 71%;
    font-weight: 500;
    font-size: 15pt;
}

.btn-ivm{
    font-family: 'VotorantimSans';
    background-color:#fff;
    width: 100%;
    margin-left: 0%;
    font-size: 20px;
    margin-top: 80px;
    position: absolute;
    color: #ff6f0d;
    font-size: 20pt;
}

.btn-edital{
    font-family: 'VotorantimSans';
    background-color: #ff6f0d;
    color: #fff;
    text-align: left;
    margin-top: 50px;
    font-weight: bold;
    width: 55%;
    text-align: center;
}

.btn-material{
    font-family: 'VotorantimSansRegular';
    background-color: #0000be;
    color: #fff;
    margin-top: 20px;
    width: 45%;
    text-transform: none!important;
    text-align: center;
}

.bp{
    width: 60%;
}

.btn-leia-mais{
    background-color: #ff6f0d;
    color: #fff;
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
}

.btn-sobre-votorantim:hover,.btn-inscreva-webinar:hover,
.btn-edital:hover,.btn-material:hover, .todas-noticias:hover,.btn-leia-mais:hover,.btn-mais-webinar:hover{
    color: #fff;
}

.noticias{
    background-color: #848484;
    padding: 70px 0px;
}

.titulo-noticia{
    font-family: 'VotorantimSansBlack';
    color: #fff;
}



.titulo-item-noticia{
    font-family: 'VotorantimSansBlack';
    font-size: 20px;
    text-transform: uppercase;
}

.desc-noticia{
    font-family: 'VotorantimSansRegular';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10pt;
}
.desc-contato{
    font-family: 'VotorantimSansRegular';
    font-weight: bold;
    color: #0000be;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.3em;
}

.desc-ivm{
    font-family: 'VotorantimSansRegular';
    font-weight: bold;
    font-size: 15pt;
}

.area-noticia{
    margin-top: 50px;
}

.todas-noticias{
    color: #fff;
    font-family: 'VotorantimSansRegular';
    float: right;
    font-size: 20px;
    margin-top: -40px;
}

.banners{
    margin-top: 80px!important;
}

.webinar{
    padding: 50px 0px;
    background-color: #ff6f0d;
}

.titulo-webinar{
    font-family: 'VotorantimSansBlack';
    color: #fff;
    text-transform: uppercase;
}

.titulo-lista-noticias{
    font-family: 'VotorantimSansBlack';
    color: #0000be;
    text-transform: uppercase;
}

.titulo-materiais-apoio{
    font-family: 'VotorantimSansBlack';
    color: #0000be;
    text-transform: uppercase;
}

.sobre-iniciativa{
   background-color: #de1754;
}


.data{
    font-family: 'VotorantimSansBlack';
    color: #fff;
    text-align: center;
    font-size: 33px;
    padding-top: 15px;
}

.desc-data{
    font-family: 'VotorantimSansBlack';
    color: #fff;
    text-align: center;
    font-size: 15px;
    margin-top: -10px;
}

.desc-tema-webinar{
    color: #ff6f0d;
    font-family: 'VotorantimSansRegular';
    text-transform: uppercase;
    line-height: 1.2em;
    margin-top: -10px;
    padding-bottom: 10px;
    font-weight: 900;
}

.btn-como-foi{
    font-family: 'VotorantimSansMedium';
    font-size: 8px;
    background-color: #e54576;
    color: #fff;
    text-align: left;
    margin-top: 36px;
    font-weight: bold;
    float: right;
}

.desc-destaque-webinar{
    font-family: 'VotorantimSansRegular';
    font-size: 21px;
    line-height: 1.3em;
    color: #fff;
    text-transform: uppercase;
}

.btn-mais-webinar{
    background-color: #e54576;
    color: #fff;
   font-weight: bold;
    margin: 30px 25%;
    padding: 10px;
}
.btn-inscreva-webinar{
    background-color: #e54576;
    color: #fff;
   font-weight: bold;
    padding: 10px;
}

.titulo-destaque-webinar{
    font-family: 'VotorantimSansBlack';
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

.tema-webinar{
    font-family: 'VotorantimSansBlack';
    color: #ff6f0d;
    padding-top: 10px;
    line-height: 1.2em;
}

.desc-webinar{
    font-family: 'VotorantimSansLight';
   color: #fff;
   margin-top: 20px;
   font-weight: 900;
   font-size:  20px;
}

.divisao-3{
    height: 5px;
    width: 30%;
    margin:0 auto;
    background-color: #fff;
}

.divisao-4{
    height: 5px;
    width: 30%;
    background-color: #b4dc31;
    margin-top: 5px;
}

.divisao-5{
    height: 5px;
    width: 60%;
    margin:0 auto;
    background-color: #fff;
    margin: 5px auto;
}

.divisao-6{
    height: 5px;
    width: 40%;
    background-color: #b4dc31;
}

.item-webinar{
    margin-top: 60px;
}

.data{
    background-color: #de1754;
}

.bg-data{
    background-color: #fff;
}

.mapa{
    width: 31%;
    right: 16%;
    position: absolute;
}

.conteudo-ivm{
    margin-top:220px;
}

.conteudo-ivm{
    background-color: #de5d57;
    width: 50%;
    margin:188px auto;
    color: #fff;
    padding: 20px;
}

.titulo-ivm{
    font-family: 'VotorantimSansBlack';
    color: #fff;
    font-size:  44px;
    text-transform: uppercase;
}

.indice{
    padding-top: 40px;
    padding-bottom: 35px;
}

.municipios{
    background-color: #0000be;
}

.contra-corona{
 margin-top: 100px;
 font-family: 'VotorantimSans';
    color: #fff;
    font-size:  70px;
    line-height:  1em;
}

.desc-corona{
    margin-top: 30px;
    font-family: 'VotorantimSansRegular';
    line-height: 1.3em;
    color: #fff;
    font-size: 20px;
}

.desc-material{
    margin-top: 30px;
    font-family: 'VotorantimSansRegular';
    color: #0000be;
    text-transform: none!important;
    font-weight: bold;
    font-size: 16px;
}

.img-municipio{
    margin-top:-260px;
}

.juntos{
  width: 60%;
  margin-top: 20%;
}

.empresa{
    width: 80%;
}

.top-40{
    margin-top: 40px;
}

.top-30{
    margin-top: 30px;
}

.top-60{
    margin-top: 100px!important;
}

.top-120{
    margin-top: 120px!important;
}

.logo-v2{
    width: 60%;
    margin-top: -30px;
}

.material{
    font-family: 'VotorantimSansBlack';
    padding-top: 20px;
    color: #0000be;
    background-color: #b4dc31;
    text-transform: uppercase;
}

.titulo-contato{
    font-family: 'VotorantimSansBlack';
    color: #0000be;
}

.btn-form-contato{
    background-color: #d9d9d9;
}

.btn-submit-contato{
    font-family: 'VotorantimSansRegular';
    background-color: #0000be;
    border:none;
    color: #fff;
    width: 20%;
}

.contato{
    margin-top: 100px;
}

.msg-contato{
    height: 250px!important;
}

.post{
    margin-top: 80px;
}

.titulo-post{
    color: #b4dc31;
    font-size: 40pt;
    line-height: 1em;
    padding-top: 100px!important;
}

.img-noticia{
   width: 60%;
   margin: -200px auto;
   display: block;
}

.data-da-noticia{
    font-family: 'VotorantimSansRegular';
    font-size: 10pt;
    color: #3a414e!important;
}

.desc-post{
    padding-top: 270px;
    font-size: 15pt;
}


@media(max-width:479px) {
    .btn-mobile{
        width: 100%;
    }
    .btn-sobre-votorantim{
        font-size: 13px;
        width: 100%;
    }
    .btn-ivm{
       width: 80% ;
       margin-top: 0px;
       font-size: 12pt;
    }
    .img-destque{
        width: 98%;
    }
    .area-sistema{
        height: 450px;
    }
    .contra-corona{
        font-size:  30pt;
    }
    .btn-mais-webinar{
        margin: 0px;
    }
    .titulo-ivm{
        font-size:  20pt;
    }

    .webinar-mobile{
        width: 86%;
    }

    .ml-mobile{
        margin-left: 0px!important;
    }

    .espaco-mobile{
        margin-right:0!important;
        margin-left: 10%;
    }
 .logo{
     width: 80%;
 }
 .header_area .navbar-brand {
    margin-right:0px; 
 }
 .pessoas{
     display: none;
 }
 .subtitulo-quem-somos{
     font-size:  14pt;
     text-align: left;
 }
  .todas-noticias{
      margin-top:10px;
  }
  .subtitulo-indice{
      font-size: 14pt;
  }

  .btn-inscreva-webinar{
      margin:  0px auto;
      display: block;
      text-align: center;
  } 
  .titulo-destaque-webinar{
      text-align: center;
  }
  .desc-destaque-webinar{
      text-align: center;
  }
  .desc-sistema{
      font-size: 20px;
  }
 .mobile{
    height: 50px;
 }   
 .btn-como-foi{
     float: none;
     margin: 10px 0;
 }
 .mapa{
     display: none;
 }
 .btn-edital{
     margin-top:0px;
     width: 100%;
 }
 .img-municipio{
     margin-top: 0px;
 }
 .juntos{
    margin: 10% 0;
 }
 .btn-material{
     width: 80%;
 }
 .padding-mobile{
     padding-top: 80px!important;
 }
 .top-mobile{
    margin-top: 0px!important;
 }
 
}