@media screen and (min-width: 1920px) {

    .mapa{
        right: 28%!important;
    }

    .desc-sistema{
        margin-top: 50px!important;
    }

    .btn-ivm{
        margin-top: 50px;
    }
    
}

@media (min-width: 992px){
    .area-btn{
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .predios{
        margin-top: 10px;
    }

    .btn-programas{
        margin-bottom: 100px;
    }

    .tooltip-inner{
        text-align: left;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1100px) {
   
    .logo{
        width: 90%;
    }
    .tooltip-inner{
        margin-top: 4px;
    }
    .header_area .navbar .nav .nav-item .nav-link{
        font-size: 12px;
    }
    
    .area-btn{
        width: 100%;
        margin-bottom: 100px;
    }
 
    .btn-sobre-votorantim{
        margin-left:10px!important;
    }
    .img-destque{
        width: 95%;
    }
 
    .btn-ivm{
        font-size: 12pt;
        margin-top: 50px;
        width: 60%;
 }
 
 .area-sistema{
    height: 140px;
 }
 .desc-sistema{
     margin-top:80px;
 }
 
 .btn-edital{
     width: 60%;
 }
 
 .img-municipio {
     margin-top: -100px;
 }
 
 .btn-mobile{
     width: 100%;
 }
 .logo-8{
     width: 60px!important;
 }
 .logo-3{
     width: 60px!important;
 }
 .logo-4{
     width: 130px!important;
 }
 .logo-5{
     width: 60px!important;
 }
 
    

}

@media screen and (max-width: 1099px) and (min-width: 793px) {
    
    
   .logo{
       width: 90%;
   }
   .header_area .navbar .nav .nav-item .nav-link{
       font-size: 12px;
   }
   .subtitulo-quem-somos{
    width: 100%;
}

   .medicos{
       width: 50%;
   }
   .pessoas{
    display: none;
   }
   .img-destque{
       width: 95%;
   }

   .btn-ivm{
    font-size: 12pt;
    margin-top:40px;
    width: 60%;
}

.area-sistema{
    height: 140px;
}
.desc-sistema{
    margin-top:80px;
}

.btn-edital{
    width: 60%;
}

.img-municipio {
    margin-top: -100px;
}

.btn-mobile{
    width: 100%;
}
.logo-8{
    width: 60px!important;
}
.logo-3{
    width: 60px!important;
}
.logo-4{
    width: 130px!important;
    margin-left: -30px;
}
.logo-5{
    width: 60px!important;
}

}

@media screen and (max-width: 792px) and (min-width: 780px) { 
    
    .pessoas, .medicos{
        display: none; 
     }
     .btn-sobre-votorantim{
         text-align: center;
     }
     .img-destque{
         margin: 0 auto;
         display: block;
     }
     .titulo-destaque-webinar{
         text-align: center;
     }
     .mobile{
         height: 50px;
     }
     .btn-inscreva-webinar{
         margin-left: 40%;
     }
     .btn-ivm{
         font-size: 12pt;
         margin-top:30px;
         width: 80%;
     }

     .juntos{
         margin-left: 100px;
         margin-top: 30%;
     }
    
     .area-sistema{
         height: 140px;
     }
     .subtitulo-indice{
         width: 50%;
     }
     .desc-sistema{
         margin-top:80px;
     }
 
     .img-municipio{
         margin-top: -100px;
     }
     .btn-edital{
         width: 100%;
     }
     .btn-mobile{
         width: 100%;
     }
     .logo-8{
         width: 60px!important;
     }
     .logo-3{
         width: 60px!important;
     }
     .logo-4{
         width: 130px!important;
     }
     .logo-5{
         width: 60px!important;
     }
}

@media screen and (max-width: 779px) and (min-width: 768px) {
    .subtitulo-quem-somos{
        width: 100%;
    }
    .pessoas,.medicos{
       display: none; 
    }
    .btn-sobre-votorantim{
        text-align: center;
    }
    .img-destque{
        margin: 0 auto;
        display: block;
    }
    .titulo-destaque-webinar{
        text-align: center;
    }
    .mobile{
        height: 50px;
    }
    .btn-inscreva-webinar{
        margin-left: 40%;
    }
    .btn-ivm{
        font-size: 12pt;
    }
   
    .juntos{
        margin-left: 100px;
        margin-top: 30%;
    }
    .btn-ivm{
        margin-top: 160px;
        margin-left: -400px;
        width: 80%;
    }
    .area-sistema{
        height: 250px;
    }
    .desc-sistema{
        margin-top:80px;
    }

    .img-municipio{
        margin-top: -100px;
    }
    .btn-edital{
        width: 100%;
    }
    .btn-mobile{
        width: 100%;
    }
    .logo-8{
        width: 60px!important;
    }
    .logo-3{
        width: 60px!important;
    }
    .logo-4{
        width: 130px!important;
    }
    .logo-5{
        width: 60px!important;
    }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
    .subtitulo-quem-somos{
        width: 100%;
    }
	.pessoas,.medicos{
        display: none; 
     }
     .btn-sobre-votorantim{
         text-align: center;
         width: 100%;
     }
     .img-destque{
         margin: 0 auto;
         display: block;
     }
     .titulo-destaque-webinar{
         text-align: center;
     }
     .mobile{
         height: 50px;
     }
     .btn-inscreva-webinar{
         margin-left: 40%;
     }
     .btn-ivm{
         font-size: 12pt;
     }
    
     .juntos{
         margin-top: 10%;
         width: 40%;
     }
     .btn-ivm{
         margin-top:-20px;
         margin-left: 0px;
         width: 50%;
     }
     .area-sistema{
         height: 380px;
     }
     .desc-sistema{
         margin-top:80px;
     }
 
     .img-municipio{
         margin-top: -100px;
     }
     .btn-edital{
         width: 100%;
     }
     .logo-8{
         width: 40px!important;
     }
     .logo-3{
         width: 40px!important;
     }
     .logo-4{
         width: 60px!important;
     }
     .logo-5{
         width: 60px!important;
     }
}



@media screen and (max-width: 776px) and (min-width: 500px) {

    .caixa-metodologia{
		max-width: 100%!important;
    }
    
    #area-metodologia .etapa{
        margin-top: 50px;
    }
	.metodologia-caixa{
		margin: 20px 0px!important;
		transform: rotate(0deg)!important;
    }
    

    .todasnoticias{
        margin:0px;
    }
      .webinar-mobile{
          height: 100px;
      }

      .btn-como-foi{
          margin-top: 10%;
      }

      .rodape-pc{
           width: 100%;
      }

      .tooltip-inner{
          text-align: left;
      }

      .btn-sobre-votorantim{
             margin-left: 0px!important;
             width: 100%;
      }
      .subtitulo-gestao-publica{
          width: 100%;
      }

      .btn-programas{
          margin-bottom: 100px;
      }

      .area-sistema{
          height: 200px;
      }
}
